.modal__label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: rgba(47, 113, 229, 1);
  padding-bottom: 31px;
}

.modal__input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  width: 100%;
  padding-top: 9px;
  opacity: 20%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  transition: border-color 0.4s ease, box-shadow 0.4s ease;
  margin-bottom: 5px;
}

.modal__input::placeholder {
  color: rgba(182, 188, 191, 1);
  transition: color 10s ease-out;
}

.modal__input:focus::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.modal__input:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(47, 113, 229, 0.3);
  border-bottom: 2px solid rgba(47, 113, 229, 1);
  color: rgba(0, 0, 0, 1);
}

.modal__buttons {
  display: block;
}

.modal__bottons-button-submit {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  max-width: 358px;
  width: 100%;
  height: 64px;
  border: none;
  border-radius: 100px;
  background-color: rgba(47, 113, 229, 1);
  color: rgba(182, 188, 191, 1);
  cursor: pointer;
}

.modal__bottons-button-submit_disabled {
  background-color: rgba(230, 232, 235, 1);
}

.modal__buttons-text-and-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  margin-bottom: 0px;
}

.modal__buttons-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  padding-right: 3px;
}

.modal__buttons-button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  background: transparent;
  border: none;
  color: rgba(47, 113, 229, 1);
}

.modal__errors {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 0, 0, 1);
}
