.main__saved-news-articles {
  padding-top: 64px;
  padding-bottom: 46px;
  background: rgba(245, 246, 247, 1);
  display: flex;
  position: relative;
}

@media screen and (max-width: 770px) {
  .main__saved-news-articles {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 325px) {
  .main__saved-news-articles {
    padding-top: 24px;
    padding-bottom: 12px;
    background: rgba(245, 246, 247, 1);
  }
}
