* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: rgba(250, 250, 250, 1);
}

.app__page {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 770px) {
  .app {
    padding: 0;
  }
}
