.selected-news-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding-left: 104px;
  padding-right: 104px;
}

@media screen and (max-width: 780px) {
  .selected-news-articles {
    gap: 8px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 350px) {
  .selected-news-articles {
    /* display: flex; */
    flex-direction: column;
    padding: 0 16px;
  }
}
