.selected__news-articles {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 15px;
  padding-left: 104px;
}

@media screen and (max-width: 780px) {
  .selected__news-articles {
    /* grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    gap: 8px; */
    padding-left: 40px;
    padding-right: 40px;
    gap: 8px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
  }
}

@media screen and (max-width: 325px) {
  .selected__news-articles {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }
}
