.selected__news-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

@media screen and (max-width: 780px) {
  .selected__news-articles {
    /* grid-template-columns: repeat(auto-fit, minmax(224px, 1fr)); */
    grid-template-columns: repeat(3, minmax(224px, 1fr));
    gap: 8px;
  }
}

@media screen and (max-width: 325px) {
  .selected__news-articles {
    /* display: flex; */
    flex-direction: column;
    padding: 0 16px;
  }
}
