.modal__button-successful {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(47, 113, 229, 1);
  text-align: left;
  border: none;
  background-color: transparent;
}
