.header__for_saved-articles {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.5);
}

.header__for-saved-articles {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  /* max-width: 712px; */
  padding: 40px 104px 56px;
  background-color: rgba(250, 250, 250, 1);
}

.header__for-saved-articles-title {
  font-family: "Roboto", sans-serif, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(26, 27, 34, 0.5);
  margin: 0;
  max-width: 712px;
}

.header__for-saved-articles-text {
  font-family: "Roboto Slab", sans-serif, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  color: rgba(26, 27, 34, 1);
  margin: 28px 0 30px;
  max-width: 530px;
}

.header__for-saved-articles-keywords {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  margin: 0;
  max-width: 712px;
}

.header__for-saved-articles-span-keywords {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  margin: 0;
}

@media screen and (max-width: 920px) {
  .header__for_saved-articles {
    background-color: rgba(250, 250, 250, 1);
  }
  .header__for-saved-articles {
    max-width: 596px;
    padding: 24px 40px 32px;
    background-color: rgba(250, 250, 250, 1);
  }

  .header__for-saved-articles-title {
    font-size: 12px;
    line-height: 24px;
  }

  .header__for-saved-articles-text {
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 325px) {
  .header__for-saved-articles {
    padding: 8px 16px 32px;
  }

  .header__for-saved-articles-title {
    font-size: 12px;
    line-height: 24px;
  }

  .header__for-saved-articles-text {
    font-size: 30px;
    line-height: 34px;
  }
}
